In [1]:
import pandas as pd

In [2]:
! wget https://bulk.openweathermap.org/sample/city.list.json.gz
! gunzip city.list.json.gz

--2021-10-14 20:33:06--  https://bulk.openweathermap.org/sample/city.list.json.gz
Resolving bulk.openweathermap.org (bulk.openweathermap.org)... 136.243.88.22
Connecting to bulk.openweathermap.org (bulk.openweathermap.org)|136.243.88.22|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4002796 (3.8M) [application/json]
Saving to: ‘city.list.json.gz’

city.list.json.gz   100%[===================>]   3.82M   661KB/s    in 6.3s

2021-10-14 20:33:15 (624 KB/s) - ‘city.list.json.gz’ saved [4002796/4002796]

In [3]:
data = pd.read_json('city.list.json')
data

,id,name,state,country,coord
0,833,Ḩeşār-e Sefīd,,IR,"{'lon': 47.159401, 'lat': 34.330502}"
1,2960,‘Ayn Ḩalāqīm,,SY,"{'lon': 36.321911, 'lat': 34.940079}"
2,3245,Taglag,,IR,"{'lon': 44.98333, 'lat': 38.450001}"
3,3530,Qabāghlū,,IR,"{'lon': 46.168499, 'lat': 36.173302}"
4,5174,‘Arīqah,,SY,"{'lon': 36.48336, 'lat': 32.889809}"
...,...,...,...,...,...
209574,8261417,Recoleta,,CL,"{'lon': -70.636383, 'lat': -33.40881}"
209575,8277210,Beldibi,,TR,"{'lon': 30.707411, 'lat': 40.592731}"
209576,10722858,Forsytheganj,,BY,"{'lon': 29.733333000000002, 'lat': 52.633333}"
209577,71296900,Голубинка,,UA,"{'lon': 33.92, 'lat': 44.59}"
209578,102908597,Gerton,,US,"{'lon': -82.348056, 'lat': 35.479167}"

In [4]:
data['lat'] = data.coord.apply(lambda x: x['lat'])
data['lon'] = data.coord.apply(lambda x: x['lon'])
data = data[['id', 'name', 'state', 'country', 'lat', 'lon']]
data = data.sort_values(by='id')

In [5]:
import sqlite3
conn = sqlite3.connect('db.sqlite')
data.to_sql('cities',conn, index=False)
conn.close()

In [6]:
# ! mv db.sqlite ../app/src/main/res/raw